<ng2-slim-loading-bar color="green"></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="gummi/create" class="nav-link" routerLinkActive="active">
          Create Gummi
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="gummis" class="nav-link" routerLinkActive="active">
          Gummis
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>