
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">Gummi Name</label>
        <input type="text" class="form-control" 
          formControlName="GummiName" 
          #GummiName />
      </div>
      <div *ngIf="angForm.controls['GummiName'].invalid && (angForm.controls['GummiName'].dirty || angForm.controls['GummiName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['GummiName'].errors.required">
          Gummi Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Gummi Description </label>
        <textarea class="form-control" rows = 7 cols = "5"
        formControlName="GummiDescription" 
        #GummiDescription></textarea>
      </div>
      <div *ngIf="angForm.controls['GummiDescription'].invalid && (angForm.controls['GummiDescription'].dirty || angForm.controls['GummiDescription'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['GummiDescription'].errors.required">
          Gummi Description is required.
        </div>
      </div>

      <div class="form-group">
					<button (click) = "addGummi(GummiName.value, GummiDescription.value)" type="submit" class="btn btn-primary"
					[disabled]="angForm.pristine || angForm.invalid" >
				  Create Gummi
				</button>
			</div>

    </form>
  </div>
</div>